.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3열로 설정 */
    gap: 10px; /* 사진 간격 */
}

.item img {
    width: 100%; /* 가로 100% */
    height: auto; /* 비율 유지 */
    object-fit: cover; /* 이미지 비율 유지 */
}